# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.html text eol=lf
*.pug text eol=lf
*.jade text eol=lf
*.styl text eol=lf
*.sass text eol=lf
*.css text eol=lf
*.pug text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.ico binary
